<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"
 xmlns:jpa="http://www.springframework.org/schema/data/jpa"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:jaxws="http://cxf.apache.org/jaxws"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/data/jpa
    				http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context-3.0.xsd
                    http://www.springframework.org/schema/aop
                    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                    http://www.springframework.org/schema/tx
                    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                    http://cxf.apache.org/jaxws
    				http://cxf.apache.org/schemas/jaxws.xsd
    				http://www.springframework.org/schema/mvc 
					http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
					
					
  	<!-- Activates annotation-based bean configuration -->
	<context:annotation-config />
	
		<!-- 配置解释处理器为@AspectJ注解提供支持 -->
   	<aop:aspectj-autoproxy>
   		<aop:include name="controllerAspect" />
   	</aop:aspectj-autoproxy>
	
	<!-- 加载应用配置文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>
	
   	
	<bean id="messageSource"
    	class="org.springframework.context.support.ReloadableResourceBundleMessageSource">  
            <property name="basename" value="classpath:resources/messages/messages"/>  
            <property name="fileEncodings" value="utf-8"/>  
            <property name="cacheSeconds" value="120"/>  
    </bean> 
	
	<bean id="validator"   
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">  
        <property name="providerClass"  value="org.hibernate.validator.HibernateValidator"/>  
        <!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
        <property name="validationMessageSource" ref="messageSource"/>
	</bean>   
  
	
	<!-- Import Tiles-related configuration -->
	<import resource="tiles-context.xml" />
	
	<!-- Import webService configuration -->
	<import resource="beans-service.xml" />
	<import resource="beans-mail.xml"/>
	<import resource="spring-cxf.xml"/>
	
	
	<!--文件上传-->
<!--    <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--    	<property name="maxUploadSize" value="10485760"/> -->
<!--    </bean> -->
</beans>
